<div class="heading flex flex-column">
  <h1 class="mb0">Symtom</h1>
  <h5 class="sub">
    Upplever du ett eller flera av dessa symtom kan du söka kontakt hos närmaste mottagning
  </h5>
</div>
<div class="flex-container">
  <div class="row no-max">
    {{c-onboard-content grid=grid tagName=''}}
</div>
</div>
