& {
      min-height: 200px;
  &:empty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:before {
      content: 'Släpp här';
      font-size: 2em;
      font-weight: bold;
      color: darkgrey;
      justify-content: center;
      display: flex;
      align-items: center;
      position: absolute;
      vertical-align: middle;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .top {
    width: 100%;
    padding: 0.5em 1em;
    margin: 0;
    display: inline-flex;
    background: #40a076;
    color: white;
    font-weight: bold;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .component {
    margin: 0.3em 0;
    width: 100%;

    &:first-child {
      .top {
        margin-top: 0;
      }
    }

    &:last-child {
      .top {
        margin-bottom: 0;
      }
    }

    .close {
      background: white;
      padding: 0 1em;
      color: grey;
    }
  }

  .white {
    .component {
      background: #40a076;
    }
  }

  .empty {
    text-align: center;
    text-transform: lowercase;
    font-weight: 400;
    padding: 1em;
    background: #b6bbb8;
    color: black;
  }

  .grey {}
}
