<div class="index">
  <div class="heading flex flex-column box-center">
    <h1 class="mb0">Hej {{session.currentUser.displayName}}!</h1>
    <h5 class="sub">
      Behandlingsresan är en protyp som är utvecklad för en kandidatuppsats skriven av Per Sonberg & Hedir Saad Khazaal.
    </h5>
  </div>
</div>
