& {
  .top {
    width: 100%;
  }
  .component {
    padding: 0.5em 1em;
    margin: 0.3em 0em;
    display: inline-flex;
    background: grey;
    color: white;
    font-weight: bold;
    width: 100%;
    &:first-child {
      //margin-top: 0em;
    }
    &:last-child {
      //margin-bottom: 0em;
    }
  }

  .white {
    .component {
      background: #40a076;
    }
  }

  .grey {}
}
