 <div class="chat-user flex-container">
    <div class="user-image"><div class="online">

    </div></div>
    <div class="user-info">
      <h5>Maria</h5>
      <span>Cancergruppen i Halmstad</span>
    </div>
 </div>
 <div class="messages-box" id="messages-box">
   {{m-chat-message message=maria messages=messages index=-1}}
   {{#each messages as | message index | }}
      {{m-chat-message message=message messages=messages index=index}}
   {{/each}}
 </div>
 {{m-chat-field}}
