$black: #202020;
$white: #fff;
$dark-grey: #808080;
$light-grey: #d9d9d9;
$purple: #B97CFC;
$pink: #F93B69;
$green: #B0E8E2;
$orange: #EB8B6E;
$background: #74c7a3;

& {
  transition: all 0.3s;

  .timeline {
    height: 100%;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      height: 100%;
      z-index: 1;
      padding: 1em 0em;

      &::before {
        content: ' ';
        height: 100%;
        width: 3px;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 1.36em;
        z-index: -1;
      }

      .button {
        margin: 0;
      }

      li {
        display: flex;
        padding: 0.5em;

        .center {
          margin-left: 6px;
        }
      }
    }

    .bullet {
      width: 2em;
      height: 2em;
      box-sizing: border-box;
      border-radius: 50%;
      background: $background;
      z-index: 1;
      margin-right: 1em;
      transition: all 0.3s;

      i {
        position: relative;
        left: 3px;
      }

      &.pink {
        background: white;
        padding: 0.2em 0.3em;
        font-weight: bold;
        color: black;
      }

      &.active {
        background: #9340a0;
        color: white;
      }

      &.green {
        border: 2px solid $green;
      }

      &.orange {
        border: 2px solid $orange;
      }

      &.new {
        background: lightgrey;
        padding: 0 11px;
        height: 2em;
        width: 2em;
        position: relative;
        font-weight: bolder;
        left: -3px;
        color: aliceblue;
        font-size: 1em;
      }
    }

    .title {
      font-weight: normal;
      font-size: 0.9em;
      padding-top: 0.25em;
      transition: all 0.3s;

      &.active {
      }
    }

    .time {
      font-size: 0.9em;
      padding: 0;
      font-weight: 400;
      margin-top: 0;
      font-family: Lato;
      display: list-item;
    }

    .desc {
      width: 50%;
    }

    h3 {
      font-size: 0.9em;
      font-weight: 400;
      margin: 0;
    }

    h4 {
      margin: 0;
      font-size: 0.7em;
      font-weight: 400;
      color: $dark-grey;
    }

    .people img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  .active {
    .bullet {
      border: 0 solid white;
      background: #ffffff;
    }

    .title {
      font-weight: bold;
    }
  }
}
