<div class="heading flex flex-column">
  <h1 class="mb0">Förebyggande</h1>
  <h5 class="sub">
    Det är flera faktorer som avgör vem som blir drabbat, du kan tillexempel se över dina levnadsvanor för att minska risken. Din närmaste mottagning kan bistå med råda och stöttning.
  </h5>
</div>
<div class="flex-container">
  <div class="row no-max">
    {{c-onboard-content grid=grid tagName=''}}
</div>
</div>