<div class="heading">
  {{ui/ui-checkbox checked=data.completed didChangeCheckbox="didChangeCheckbox"}}
  <h1 class={{if data.completed 'strike'}}>Rehablitering</h1>
</div>
{{c-onboard-content grid=grid}}