<div class="heading flex flex-column">
  <h1 class="mb0">Återskapa din behandlingsplan</h1>
  <h5 class="sub">
    Dra och släpp de gråa behandlingsmomenten för att återskapa behandlingsplanen som du fått av din läkare.
  </h5>
</div>
{{c-onboard-content grid=grid}}