<div class="chat-user flex-container flex-center">
   <div class="user-info">
     <h5>{{session.currentUser.displayName}}</h5>
     <div class="flex flex-center signout" {{action "signOut"}}>Logga ut {{fa-icon "sign-out pl1"}}</div>
   </div>
</div>