<div class="heading">
  {{#if canChoose}}
  {{ui/ui-checkbox checked=data.completed didChangeCheckbox="didChangeCheckbox"}}
  {{/if}}
  <h1>Magnetröntgen</h1>
</div>
{{c-onboard-content grid=grid canChoose=canChoose}}
