& {
  height: 100vh;
  min-width: 260px;
  max-width: 260px;
  background-color: #51525d;
  position: fixed;
  left: 0px;
  padding-bottom: 80px;
  transition: all 0.3s;
  overflow-y: scroll;

  @include breakpoint(small only) {
    position: fixed;
    top: 3em;
    left: -260px;
    right: 0;
    bottom: 0;
    z-index: 100;

    &.open {
      left: 0;
    }
  }

  .pl15 {
    padding: 1em;
  }

  .text-white {
    color: white;
  }

  li {
    font-family: "Lato";
    display: grid;

    a {
      color: white;
      padding: 0.8rem 1rem;
      &.active {
        background: #9340a0;
      }
    }
  }

  .header {
    font-family: "lato";
    font-size: 2em;
    font-weight: 900;
    text-align: left;
    padding: .4em 0.6em;
    margin:  1em 0 2.2em;
    //transition: all 0.2s;
    background: -webkit-linear-gradient(to right, #c35769, #c32eda);
    background: linear-gradient(to right, #c35769, #c32eda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &.active {
      background: -webkit-linear-gradient(to right, #c35769, #c32eda);
      background: linear-gradient(to right, #c35769, #c32eda);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .timeline {
    background: #6d6e71;
    //border-top: 2px solid #40a076;
    color: white;
  }

  .instruction {
    font-family: "Nunito";
    color: #d8d8d8;
    font-size: 1.1em;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;

    .arrow {
      display: block;
      margin: 0 auto 1em;
    }
  }
}
